<!DOCTYPE html>
<html lang="en">

<head>
    {{> head}}
</head>

<body>
    {{> nav}}
    <section class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="content">
                        <h1 class="page-name text-info">Página no encontrada</h1>
                        <p><a href="/">Volver al inicio</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{> footer}}


</body>

</html>